@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Roboto:wght@400;500;700&display=swap');
html{
    max-width: 100%;
}
body{
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: auto;    
}
img{
    border-radius: 0.5rem;
}
/*Header*/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 700;
}
.logo img{
   padding-top: 0.5rem;
}
.menu_div ul {
display: inline-flex;
list-style: none;
align-self: flex-start;
}
.menu_div li{
display: inline-flex;
padding-left: 1rem;
padding-right: 1rem;
padding-top: 0.5rem;
padding-bottom: 0.5rem;
}
.menu_div li a{
color:#373737;
text-decoration: none;
transition: .3s ease-in-out, box-shadow .3s ease-in-out;
}
.menu_div li a:hover {
    color: #F28080;
    box-shadow: 100px 100px 100px 100px #ffffff;
  }
/*Main*/
/*index*/
.main-class{
    margin: 2rem;
}
.question{
    text-align: center;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 18px;
    font-style: italic;
    margin: 1rem;
    padding-top: 1.5rem;
}
.index-feature-example img, .index-feature-example1 img, .index-feature-example2 img, .index-feature-example3 img{
height:500px;
width: 800px;
max-width: 100%;
}
.home-parah{
    align-items: center;
    background-color: #F9F7F5;
    border-radius: 0.5rem;
}
.index-feature-example, .index-feature-example2{
    display: flex;
    justify-content: flex-end;
    border-radius: 0.5rem;
}
.index-feature-example2{
    margin-top: 1rem;
}
.index-feature-example div, .index-feature-example1 div, .index-feature-example2 div, .index-feature-example3 div {
    padding:.5rem;
    box-shadow: 0 3px 6px rgba(0,0,0,.3) ;
}
.paragraph {
    position: absolute;
    width: 527px;
    height: 200px;
    left: 150px;
    top: 380px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: #373737;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.paragraph h2, .paragraph1 h2, .paragraph2 h2, .paragraph3 h2{
    color: #F28080;
    font-family: "Roboto";
    font-weight: 800;
    text-align: left;
    margin: 0;
    padding: 0;
}
.paragraph p, .paragraph1 p, .paragraph2 p, .paragraph3 p{
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
}
.index-feature-example1, .index-feature-example3 {
    display: flex;
    justify-content: flex-start;
    margin-top: 1rem;
    border-radius: 0.5rem;
}
.index-feature-example3 {
margin-bottom: 1rem;
}
.paragraph1 {
    position: absolute;
    width: 527px;
    height: 200px;
    right: 150px;
    top: 880px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: #373737;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.paragraph2 {
    position: absolute;
    width: 527px;
    height: 200px;
    left: 150px;
    top: 1380px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: #373737;
    background-color: #ffffff;
    border-radius: 0.5rem;
}
.paragraph3 {
    position: absolute;
    width: 527px;
    height: 200px;
    right: 150px;
    top: 1880px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 500;
    color: #373737;
    background-color:#ffffff;
    border-radius: 0.5rem;
}
.paragraph4{
    margin-bottom: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
}
.contact-msg a{
    text-decoration: none;
}
#project-links{
    font-size: 18px;
}
/*work*/
main{
    background-color:#ffffff;
    padding: 1.5rem;
}

h2{
    text-align: center;
    font-family: "Roboto";
    font-weight: 700;
    margin: 1rem;
    padding-top: 1.5rem;
}
.work-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.gallery {
    border: 5px solid #ffffff;
  }
  .title-img{
    overflow: hidden;
  }
  .title-img{
    grid-column: 2/-2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;    
  }
  .title-img:hover img {
    transition: transform 2s ease;
  }
  .title-img:hover img {
    transform: scale(1.1);
  }
  .gallery img{
    border-radius: 5px;
    width: 100%;
  }
  .gallery::after{
    content: '\2665';
    grid-column: 2/-2;
    text-align: center;
    font-size: 2rem;
    color: rgb(207, 205, 205);
  }
  .gallery:last-child::after{
    content: none;
  }
  .title-img .title{
    grid-column: 1/-1;
    grid-row: 1/-1;
    z-index: 1;
    text-align: center;
    font-family: "Roboto";
    font-size: larger;
    font-weight: 600;
  }
  .title-img .title span {
    padding: 2px;
    background-color: white;
    border-radius: 0 0 5px 5px;
  }
  .title-img img {
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 0;
  }
  .desc {
    grid-column: 2/-2;
    text-align: left;
    padding: 10px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
  }
  .desc1{
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
  }
  .container{
    display: grid;
    grid-column: 2/-2;
    grid-template-columns: repeat(2,1fr);
  }
  /*resume*/
  .resume-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
  .resume-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .resume-section img{
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
/*GuestMe*/
.guestme-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
.guestme-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .guestme-section img{
    width: 90%;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
.project-links{   
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.project-links p{
    color: #F28080;
    text-decoration: underline;
    font-size: 16px;
    font-family: "Roboto";
    font-weight: 700;
}
/*Tekk*/
.tekk-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
.tekk-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .tekk-section img{
    width: 90%;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
/*Home Genie*/
.homegenie-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
.homegenie-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .homegenie-section img{
    width: 90%;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
/*Design-challenge*/
.buzzit-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
.buzzit-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .buzzit-section img{
    width: 100%;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
/*UI-Case study(Boutique)*/
.ui-casestudy-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
.ui-casestudy-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .ui-casestudy-section img{
    width: 100%;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
/*UX-Case study(Boutique)*/
.ux-casestudy-div{
    background-color: #F9F7F5;
    margin: 2rem;
}
.ux-casestudy-section{
    display: flex;
    justify-content: center;
    max-width: 100%;
    margin-bottom: 5px;
  }
  .ux-casestudy-section img{
    width: 100%;  
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 1rem;
}
/*Contact*/
.contact_form{
    align-content: flex-start;
    background-color: #f9f8f5;
    margin: 2rem;
    padding: 1.5rem;
}
span {
    color: #93291F;
}
.contact-msg{
    display: grid;
    text-align: center;
    justify-content: center;
}
.contact-msg p, .contact-msg h4{
    margin: 5px;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
}
.input-field{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}
label{
    font-family: "Roboto";
    font-size: large;
    font-weight: 600;
    height: 30px;
    margin-top: 10px;
}
input{
    height: 30px;
    margin-bottom: 10px;
    width: 500px;
    margin-left: 0.5rem;
    border-radius: 8px;
    border-width: 1px;
}
.contact_input{
    display: grid;
}

textarea{
    width: 500px;
    margin-left: 0.5rem;
    border-radius: 8px;
}
.form{
    display: grid;
    justify-content: center;
   margin-top: 20px;
}
.contact_button{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.btn{
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 700;
}
button{
    width: 150px;
    height: 40px;
    border-radius: 0.5rem;
    border-width: 0px;
    color: #ffffff;
    background-color: #F28080;
}
/*Footer*/
footer{
    display: flex;
    background-color: #3a3f3f;
    justify-content: center;
}
footer .container{
    display: flex;
    align-items: center;
    padding: 1rem;
}
footer p{    
    color: #ffffff;
    height: 5 rem;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: 400;
}

/*Header*/
@media screen and (max-width: 728px) {
    .header{
        display: grid;
        justify-content: center;
    }
    .menu_div{
        display: flex;
    }
    .menu_div ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    display: flex;
    justify-content: center;
    padding: 0;
    }
    .logo img{
    padding-left: 2rem;
    }
    .menu li a{
        font-size: 14px;
    }
    /*Index*/
    h2{
        padding-top: 0;
    }
    .question{
        font-size: 14px;
    }
.index-feature-example img, .index-feature-example1 img, .index-feature-example2 img, .index-feature-example3 img{
    height: auto;
    width: 100%;
}
.index-feature-example, .index-feature-example2, .index-feature-example1, .index-feature-example3{
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
}
.paragraph, .paragraph1, .paragraph2, .paragraph3{
    position: unset;
    width: auto;
    grid-row: 2;
    background-color: unset;
    height: auto;
    font-weight: 400;
}
.index-feature-example div, .index-feature-example2 div, .index-feature-example1 div, .index-feature-example3 div{
    box-shadow: none;
    padding-top: 1rem;
}
/*work*/
.work-div{
     display: grid;
     grid-template-columns: 1fr;
     gap: 1rem;
 }
 .project-links{   
    gap: 1.5rem;
}
.form{
    display: unset;
}
input, textarea{
    width: 100%;
    margin-left: 0;
}
/*GuestMe*/
.guestme-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*Tekk*/
.tekk-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*Home Genie*/
.homegenie-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*UI case study*/
.ui-casestudy-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*UX case study*/
.ux-casestudy-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*BUZZIT */
.buzzit-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*Resume*/
.resume-section img{
    width: 90%;
}
main{
    padding: 0;
}

}
@media screen and (min-width: 728px) and (max-width: 1000px) {
    .question{
        font-size: 16px;
    }
.index-feature-example img, .index-feature-example1 img, .index-feature-example2 img, .index-feature-example3 img{
    height: auto;
    width: 100%;
}
.index-feature-example, .index-feature-example2, .index-feature-example1, .index-feature-example3{
    display: grid;
    grid-template-rows: 1fr 0.2fr;
}
.paragraph, .paragraph1, .paragraph2, .paragraph3{
    position: unset;
    width: auto;
    grid-row: 2;
    background-color: unset;
    height: auto;
    font-weight: 400;
}
.paragraph4 h2{
    padding-top: 0px;
}
.index-feature-example div, .index-feature-example2 div, .index-feature-example1 div, .index-feature-example3 div{
    box-shadow: none;
    padding-top: 1rem;
}
/*work*/
.work-div{
     display: grid;
     grid-template-columns: 1fr 1fr;
     gap: 1rem;
 }
 .project-links{   
    gap: 2rem;
}
h2{
    padding-top: 0;
}
/*GuestMe*/
.guestme-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*Tekk*/
.tekk-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*Home Genie*/
.homegenie-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*UI case study*/
.ui-casestudy-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*UX case study*/
.ux-casestudy-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*BUZZIT */
.buzzit-section img{
    width: 100%;  
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
/*Resume*/
.resume-section img{
    width: 100%;  
}
main{
    padding: 0;
}

}

    
 